@import "variables.scss";
body{
  font: $font;
}

p {
  color: $primaryColor;
  font-size: $defaultSize;
  // background: white
}

.logo{
  max-width: 25%;
  background: white;
  opacity: $opaqueBg;
}